#main:after
{
	display: table;
	clear: both;
}

.column
{
	float: left;
}

.logo
{
	width: 20%;
	background: none;
}

.heading
{
	width: 70%;
	text-align: center;
	font-family: Trebuchet MS;
	color: #330000;
}
.nav
{
	border: double #FABC7F;
	border-radius: 10px;
	margin: 5px;
	background: #BF9869;
	width: 15%;
	padding: 7px;
	background: white;
}

.content
{
	/*border: double #FABC7F;
	border-radius: 10px;*/
	margin: 10px;
	width: 50%;
	font-family: Trebuchet MS;
	font-size: 14px;
	background: #F0C898;
	width: 45%;
	padding: 15px;
}

.aside-content
{
	width: 25%;
	text-align: center;
}

.nav a
{
	font-size: 12px;
	text-decoration: none;
	font-family: Trebuchet MS;
	color: #5e3d15;	
	font-weight: bold;
}
.nav a:visited
{
	font-size: 12px;
	text-decoration: none;
	font-family: Trebuchet MS;
	color: #5e3d15;	
	font-weight: bold;
	
	
}

@font-face{
	font-family: "Calligraphy";
	src: url("font.tff");
}

body
{
	background-image: url( "../images/coffee-background.jpg" );
	background-repeat: no-repeat;
  	background-attachment: fixed;
	
}

#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link
{
	display: none;
}

#certificate-link
{
	display: none;
}
